---
http_interactions:
- request:
    method: post
    uri: https://o-test.ordr.in/o/147
    body:
      encoding: UTF-8
      string: ! '{"rid":147,"tray":"4622236/1,4622238+4622296/1","tip":"5.05","delivery_date":"12-07","delivery_time":"16:00","first_name":"Nyan","last_name":"Cat","addr":"1
        Main Street","city":"College Station","state":"TX","zip":"77840","phone":"808-123-4567","card_name":"Nyan
        Black Card","card_number":"4111111111111111","card_cvc":"123","card_expiry":"02/2016","card_bill_addr":"456
        Carroll St.","card_bill_city":"Brooklyn","card_bill_state":"NY","card_bill_zip":"11215","card_bill_phone":"808-123-4567","em":"foo@bar.com"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"msg\": \"Success\",\n  \"_error\": 0,\n  \"refnum\": \"52a3310f563f806f4b001310\",\n
        \ \"cs_order_id\": \"9999999999\",\n  \"text\": \"Thank you for your order!\",\n
        \ \"_err\": 0\n}"
  recorded_at: Sat, 07 Dec 2013 14:30:41 GMT
recorded_with: VCR 2.7.0
