---
http_interactions:
- request:
    method: get
    uri: https://r-test.ordr.in/rd/147
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "addr": "102 Church Ave",
          "city": "College Station",
          "cs_contact_phone": "888-220-5126",
          "cuisine": [
            "American",
            "Mexican",
            "Salad",
            "Catering"
          ],
          "latitude": "30.61697",
          "longitude": "-96.348892",
          "meal_name": {
            "0": "always available",
            "3": "lunch",
            "4": "dinner"
          },
          "menu": [
            {
              "additional_fee": "0.00",
              "children": [
                {
                  "additional_fee": "0.00",
                  "availability": [
                    0
                  ],
                  "descrip": "Scrambled Egg, cheese, potato, habanero sauce, ranchero sauce and jalapenos",
                  "free_child_select": "0",
                  "id": "4622182",
                  "is_orderable": 1,
                  "item_select_weight": "1",
                  "max_child_select": "0",
                  "max_free_child_select": "0",
                  "min_child_select": "0",
                  "name": "THREE ALARM TACO PLATE",
                  "price": "8.29"
                },
                {
                  "additional_fee": "0.00",
                  "availability": [
                    0
                  ],
                  "descrip": "Scrambled Egg, cheese, potato, habanero sauce, ranchero sauce and jalapenos",
                  "free_child_select": "0",
                  "id": "4622183",
                  "is_orderable": 1,
                  "item_select_weight": "1",
                  "max_child_select": "0",
                  "m[...]
