---
http_interactions:
- request:
    method: put
    uri: https://u-test.ordr.in/u/austen.dev+ordrin@gmail.com/ccs/nickname
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      X-Naama-Authentication:
      - username="austen.dev+ordrin@gmail.com", response="7944faf40333649aa131e1f89392201cdb0d225903569ad106c64422c7477273",
        version="1"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"_err\": 1,\n  \"err_code\": 400,\n  \"_msg\": {\n    \"_err\":
        1,\n    \"_msg\": \"Expiration date is required.\\nCredit card must include
        either number or venmo_sdk_payment_method_code.\",\n    \"_status\": 400\n
        \ }\n}"
  recorded_at: Wed, 20 Nov 2013 01:43:27 GMT
recorded_with: VCR 2.7.0
