---
http_interactions:
- request:
    method: put
    uri: https://u-test.ordr.in/u/austen.dev+ordrin@gmail.com/ccs/nickname
    body:
      encoding: UTF-8
      string: ! '{"nick":"nickname","name":"Nyan Cat Black Card","number":"4242424242424242","cvc":123,"expiry_month":"02","type":"Visa","bill_addr":"456
        Carroll St.","bill_city":"Brooklyn","bill_state":"NY","bill_zip":"11215","bill_phone":"808-123-4567"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      X-Naama-Authentication:
      - username="austen.dev+ordrin@gmail.com", response="7944faf40333649aa131e1f89392201cdb0d225903569ad106c64422c7477273",
        version="1"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"_err\": 1,\n  \"err_code\": 400,\n  \"_msg\": {\n    \"_err\":
        1,\n    \"_msg\": \"Expiration date is invalid.\",\n    \"_status\": 400\n
        \ }\n}"
  recorded_at: Sun, 24 Nov 2013 00:12:02 GMT
recorded_with: VCR 2.7.0
