---
http_interactions:
- request:
    method: post
    uri: https://u-test.ordr.in/u/u/austen.dev+ordrin@gmail.com
    body:
      encoding: UTF-8
      string: '{"first_name":"Nyan","last_name":"Cat"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: Cannot POST /u/u/austen.dev%2Bordrin%40gmail.com
  recorded_at: Fri, 15 Nov 2013 03:33:29 GMT
- request:
    method: post
    uri: https://u-test.ordr.in/u/austen.dev+ordrin@gmail.com
    body:
      encoding: UTF-8
      string: '{"first_name":"Nyan","last_name":"Cat"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_err": 1,
          "err_code": 401,
          "msg": "Unauthorized"
        }
  recorded_at: Fri, 15 Nov 2013 03:33:45 GMT
- request:
    method: post
    uri: https://u-test.ordr.in/u/austen.dev+ordrin2@gmail.com
    body:
      encoding: UTF-8
      string: '{"first_name":"Nyan","last_name":"Cat"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      X-Naama-Authentication:
      - username="austen.dev+ordrin2@gmail.com", response="6267cd5e5d769a574329f45a8eab6b0fbe158b93acde08cc3ddcb5d08ff69aa1",
        version="1"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "msg": "user saved",
          "user_id": "528598734c7da2426f00001b",
          "_err": 0
        }
  recorded_at: Fri, 15 Nov 2013 03:44:41 GMT
recorded_with: VCR 2.7.0
