---
http_interactions:
- request:
    method: post
    uri: https://u-test.ordr.in/u/austen.dev+ordrin@gmail.com
    body:
      encoding: UTF-8
      string: '{"first_name":"Nyan","last_name":"Cat"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      X-Naama-Authentication:
      - username=austen.dev+ordrin@gmail.com, response=26de07c0c8d909ccc7af6d9d80b358c36b806c2a6862af571ab967edb74ac319,
        version=1
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_err": 1,
          "err_code": 401,
          "msg": "Unauthorized"
        }
  recorded_at: Fri, 15 Nov 2013 02:39:39 GMT
recorded_with: VCR 2.7.0
