---
http_interactions:
- request:
    method: post
    uri: https://u-test.ordr.in/u/austen.dev+ordrin2@gmail.com
    body:
      encoding: UTF-8
      string: ! '{"first_name":"Nyan","last_name":"Cat"}'
    headers:
      X-Naama-Client-Authentication:
      - id=O5jirm3MM5XLLT3BkY80dPo_AdIIm1CBGTJPRHADoJU, version=1
      X-Naama-Authentication:
      - username="austen.dev+ordrin2@gmail.com", response="6267cd5e5d769a574329f45a8eab6b0fbe158b93acde08cc3ddcb5d08ff69aa1",
        version="1"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ! "{\n  \"msg\": \"user saved\",\n  \"user_id\": \"528598734c7da2426f00001b\",\n
        \ \"_err\": 0\n}"
  recorded_at: Sun, 17 Nov 2013 21:14:01 GMT
recorded_with: VCR 2.7.0
